<footer><img src="/static/images/we-only-do-awesome.png">
  <ul class="contact">
    <li><a href="tel:{{ cms.globalsettings.phone }}">{{ cms.globalsettings.phone }}</a></li>
    <li><a href="mailto:{{ cms.globalsettings.email }}">{{ cms.globalsettings.email }}</a></li>
    <li><a href="http://twitter.com/{{ cms.globalsettings.twitter }}">@{{ cms.globalsettings.twitter }}</a></li>
  </ul>
  <div class="legal">
    <p>&copy; {{ cms.globalsettings.legal_name }} of {{ cms.globalsettings.address }}. All rights reserved.</p>
  </div>
  <div class="love">
    <p>Made with <i class="fa fa-heart"></i> in Birmingham, UK </p>
  </div>
</footer> 