body.homepage {
	.page header {
		display: none; 
	}
}

.landing-block {
	min-height: calc(100vh - 7.5rem);
	padding: 1em;
	border: 1em solid white;
	display: flex;
	flex-direction: column; 
	* {
		color: white;
	}
	.top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		.left {
			img {
				height: 5em;
			}
			h1 {
				font-weight: bold;
				text-transform: uppercase;
				font-style: italic;
				font-size: 1em;
			}
			h2 {
				font-size: 1.5em;
				margin-top: 1em;
				line-height: 1.5;
			}
			a {
				font-weight: bold;
				border: 2px solid white; 
				padding: 0.5em 1em;
				display: inline-block;
				margin-top: 1.5em; 
				&:hover {
					background: white;
				}
			}
		}
		.right {
			ul {
				li {
					display: inline;
					a {
						font-size: 1.25em;
						margin-right: 0.5em;
						margin-bottom: 1em;
						display: inline-block;
						&:hover {
							color: white;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.bottom {
		text-align: center;
		margin-top: 2em;
		a {
			margin: 0 0.5em;
			display: inline-block;
			font-size: 1.25em;
		}
	}
	@media screen and (max-width: $medium-screen) {
		min-height: 0;
		.top {
			flex-direction: column-reverse;
			.right ul li a {
				font-size: 1em;
			}
		}
		.bottom {
			display: none;
		}
	}
}

.landing-copy {
	@include outer-container;
	padding: 1em;
	text-align: center;
	font-size: 2em;
	color: $color-accent;
	border-width: 0.5em;
	h2 {
		line-height: 1.5;
		font-size: 1.25rem;
	}
	.trusted-logos {
		@include span-columns(12);
		margin-top: 1em;
		img {
			@include span-columns(2 of 12);
			@include omega(6n);
			padding: 0.5em; 
		}
	}
	@media screen and (max-width: $medium-screen) {
		padding: 1em;
		font-size: 1.25em;
		.trusted-logos {
			display: none;
		}
	}
}