#facebook {
	.fb-page {
		display: block;
		> span {
			vertical-align: bottom;
			width: 461px;
			height: 1500px;
			max-width: 500px;
			background: red;
			margin: 0 auto;
			display: block;
		}
	}
}

#get-updates a {
    margin-bottom: 3rem;
    padding: 3rem;
    background: #382248;
    display: block;
    color: white;
    text-align: center;
    font-size: 1.5em;
}