{% extends "templates/partials/base.html" %}
{% block title %}{% parent %} - Homepage{% endblock %}

{% set case_studies = cms.casestudies|sort('publish_date', true) %}
{% set news = cms.news|sort('publish_date', false) %}

{% block body_attributes %}class="homepage"{% endblock %}

{% block content %}

  <div class="landing-block">
    <div class="top">
      <div class="left">
        <div class="logo">
         <img src="/static/images/logo-white.png" alt="Rebel Uncut Logo">
        </div>
        <h1>{{ cms.homepage.hero_title }}</h1>
        <a href="{{ cms.homepage.hero_button_url }}" class="cta">{{ cms.homepage.hero_button_text }}</a>
      </div>
      <div class="right">
        <ul>
          {% for link in cms.globalsettings.nav %}
            <li><a href="{{ link.url }}" id="{{ link.text }}">{{ link.text }}</a></li>
          {% endfor %}
        </ul>
        <div class="volume-toggle">
          <i class="fa fa-volume-off"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-copy">
    <h2>{{ cms.homepage.hero_subtitle }}</h2>
    <div class="trusted-logos">
      {% for logo in cms.workpage.clients %}
        {% if logo.homepage %}
          <img src="{{logo.logo.url}}">
        {% endif %}
      {% endfor %}
  </div>
  </div>

  <div id="what-we-do">
    <div class="inner">
      <h2>What we do</h2>
      <div class="lists">
        <ul>
          <h3><i class="fa fa-film"></i>Video</h3>
          {% for service in cms.homepage.video_services %}
            <li>{{ service.name }}</li>
          {% endfor %}
        </ul>
        <ul>
          <h3><i class="fa fa-paint-brush"></i>Creative</h3>
          {% for service in cms.homepage.creative_services %}
            <li>{{ service.name }}</li>
          {% endfor %}
        </ul>
        <ul>
          <h3><i class="fa fa-code"></i>Digital</h3>
          {% for service in cms.homepage.digital_services %}
            <li>{{ service.name }}</li> 
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div id="get-updates">
    <a href="http://facebook.com/rebeluncut" target="_blank">Get latest updates about the team and our work by following us on Facebook</a>
  </div>

{% endblock %}

{% block scripts_extra %}
  <script>
    $('.landing-block').vide({
      mp4: '{{ cms.homepage.showreel_mp4.url }}',
      webm: '{{ cms.homepage.showreel_webm.url }}',
      poster: '{{ cms.homepage.showreel_image_fallback.url }}'
    }, {
      bgColor: '#543869',
      className: 'vide-container',
      muted: true,
      loop: true,
      posterType: 'jpg'
    });
  </script>
{% endblock %}