{% extends "templates/partials/base.html" %}

{% block title %}{% parent %} - {{ cms.updates.name }}{% endblock %}

{% block content %}

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6&appId=1627957507455927";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="page-title">
    <h1>{{ cms.updates.name }}</h1>
    <p>{{ cms.updates.page_description }}</p>
  </div>
  <div id="facebook">
    <div class="fb-page" data-href="https://www.facebook.com/rebeluncut/" data-tabs="timeline" data-width="500" data-height="1500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/rebeluncut/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/rebeluncut/">Rebel Uncut's Facebook Page</a></blockquote></div>
  </div>

{% endblock %}
